table.scroll {
    width: 100%;
    border-spacing: 0;
    /* border: 2px solid black; */
}

table.scroll tbody,
table.scroll thead tr { display: block; }

table.scroll tbody {
    max-height: 55vh;
    overflow-y: auto;
    overflow-x: hidden;
}

table.scroll thead th {
    width: 140px;
    /* border-right:  black; */
}

table.scroll thead th:last-child {
    width: 100%; /* 140px + 16px scrollbar width */
}

tr:hover {
    /* background-color: rgb(201, 232, 248); */
    cursor: pointer;
}

thead tr th { 
    height: 25px;
    line-height: 10px;
    /*text-align: left;*/
}

/* tbody { border-top: 2px solid black; } */

tbody td:last-child, thead th:last-child {
    border-right: none !important;
}
/* .outline-black { outline: 1px solid black; } */