<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//ES">
<html>
<head>
<!-- ENCABEZADO DE LA PAGINA WEB -->
<TITLE> Libro Diario </TITLE>
<META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=ISO-8859-1">
<META HTTP-EQUIV="Expires" CONTENT="0">
<META NAME="author" CONTENT="oscar rene vasquez avalos">
<META NAME="keywords" CONTENT="Sistemas Contables">
<META NAME="description" CONTENT="Libro Diario">
    
    <!-- Estilos -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="tablas.css">

</head>
<body TEXT="#000000" 	LINK="##000800" 
VLINK="#ff2a00" ALINK="#33CC00">
<br><br>
    <!-- ENCABEZADO DE LA PAGINA WEB -->
    <header class="header">
        <div class="container">
                <div class="col-lg-12">
                    <div class="text-container text-center">
                        <h1>Nombre de la Empresa</h1>
                    </div> 
                </div>     
    </header> 
    <br><br>
    <div class="container-fluid " >
        <div class="row justify-content-md-center ">
        <!--Formulario de catalogo de cuentas-->
        <div class="col-sm-12 col-md-10">
        <div class="card outline-black">
        <div class="card-header bg-info">
        <h3 class="text-center">Libro Diario</h3>
        </div>
        
        <div class="card-body ">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nombre">Fecha: </label>        
                        <div class="form-group row">  
                            <div class="col-sm-10">
                                <section class="container">
                                    <form>
                                        <div class="row form-group">
                                            <div class="col-sm-12">
                                                <div class="input-group date" id="datepicker">
                                                    <input type="text" class="form-control">
                                                    <span class="input-group-append">
                                                        <span class="input-group-text bg-white">
                                                            <i class="fa fa-calendar"></i>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </section>
                                <script type="text/javascript">
                                    $(function() {
                                        $('#datepicker').datepicker();
                                    });
                                </script>
                            
                            </div>
                          </div> 
                        </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="transaccion">N de Transacci&oacute;n: </label>
                        <input type="text" class="form-control" id="transaccion" name="transaccion">
                        </div>
                </div>
            </div>
        </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <h5 class="text-center">Cuenta</h5>
                        </div>
                </div>
                <div class="col-5">
                    <div class="form-group">
                        <h5 class="text-center">Catalogo de cuentas</h5>
                        </div>
                </div>
            </div>
        <div class="card-body ">
        <form>
        <div class="row">
            <div class="col">      
                <div class="form-group row">
                    <label  class="col-sm-4 col-form-label">C&oacute;digo:</label>
                    <div class="col-sm-8">
                      <input type="cod" class="form-control" id="cod" placeholder="">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label  class="col-sm-4 col-form-label">Nombre:</label>
                    <div class="col-sm-8">
                      <input type="nom" class="form-control" id="nom" placeholder="">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label  class="col-sm-4 col-form-label">Monto:</label>
                    <div class="col-sm-8">
                      <input type="monto" class="form-control" id="monto" placeholder="">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label  class="col-sm-4 col-form-label">Concepto:</label>
                    <div class="col-sm-8">
                      <input type="concepto" class="form-control" id="concepto" placeholder="">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-9">  <label  class="col-sm-4 col-form-label"></label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                            <label class="form-check-label" for="inlineRadio1">Abona</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                            <label class="form-check-label" for="inlineRadio2">Cargar</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1">IVA</label>
                          </div>
                    </div>
                  </div> 
                  <div class="form-group row">
                    <div class="col-sm-9">   <label  class="col-sm-6 col-form-label"></label>
                        <a href="#" type="button" class="btn btn-dark ">Registrar</a>   
                    </div>
                  </div> 
            </div>
        <div class="col-md-6">
       <!--INICIO TABLA BOOTSTRAP-->
       <table class="scroll" >
        <thead>
            <tr>
                <th>C&oacute;digo</th>
                <th>Nombre</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Activo</td>
            </tr>
            <tr>
                <td>11</td>
                <td>Activo corriente</td>
            </tr>
            <tr>
                <td>111</td>
                <td>Caja</td>
            </tr>
            <tr>
                <td>112</td>
                <td>Bancos</td>
            </tr>
            <tr>
                <td>113</td>
                <td>Disponible restringido</td>
            </tr>
            <tr>
                <td>114</td>
                <td>Iva credito fiscal</td>
            </tr>
            <tr>
                <td>115</td>
                <td>Renta</td>
            </tr>
            <tr>
                <td>116</td>
                <td>Gastos pagados por anticipado</td>
            </tr>
            <tr>
                <td>117</td>
                <td>Almacen</td>
            </tr>
            <tr>
                <td>12</td>
                <td>Activo no corriente</td>
            </tr>
            <tr>
                <td>121</td>
                <td>Equipo de oficina</td>
            </tr>
            <tr>
                <td>122</td>
                <td>Equipo de computacion</td>
            </tr>
            <tr>
                <td>123</td>
                <td>Inmuebles</td>
            </tr>
            <tr>
                <td>124</td>
                <td>Cuentas por cobrar</td>
            </tr>
            <tr>
                <td>125</td>
                <td>Insumos</td>
            </tr>
            <tr>
                <td>126</td>
                <td>Insumos tangibles</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Pasivo</td>
            </tr>
            <tr>
                <td>21</td>
                <td>Pasivo corrientes</td>
            </tr>
            <tr>
                <td>211</td>
                <td>Cuentas por pagar</td>
            </tr>
            <tr>
                <td>212</td>
                <td>Iva debito fiscal</td>
            </tr>
            <tr>
                <td>22</td>
                <td>Pasivo no corrientes</td>
            </tr>
            <tr>
                <td>221</td>
                <td>Prestamos bancarios</td>
            </tr>
            <tr>
                <td>222</td>
                <td>Ingresos diferidos</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Patrimonio neto</td>
            </tr>
            <tr>
                <td>31</td>
                <td>Capital</td>
            </tr>
            <tr>
                <td>311</td>
                <td>Capital social</td>
            </tr>
            <tr>
                <td>32</td>
                <td>Reservas de capital</td>
            </tr>
            <tr>
                <td>33</td>
                <td>Resultados</td>
            </tr>
            <tr>
                <td>331</td>
                <td>Utilidad neta</td>
            </tr>
            <tr>
                <td>332</td>
                <td>Utilidad del ejercicio</td>
            </tr>
            <tr>
                <td>333</td>
                <td>Perdidas</td>
            </tr>
            <tr>
                <td>34</td>
                <td>Patrimonio restringido</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Ingresos diferidos</td>
            </tr>
            <tr>
                <td>41</td>
                <td>Ingresos de operacion</td>
            </tr>
            <tr>
                <td>411</td>
                <td>Ingresos por servicios</td>
            </tr>
            <tr>
                <td>412</td>
                <td>Ingresos de otras actividades</td>
            </tr>
            <tr>
                <td>413</td>
                <td>ventas</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Costos</td>
            </tr>
            <tr>
                <td>512</td>
                <td>Compras de mercancias</td>
            </tr>
            <tr>
                <td>513</td>
                <td>Iva pagado por anticipado</td>
            </tr>
            <tr>
                <td>52</td>
                <td>Costos de operacion</td>
            </tr>
            <tr>
                <td>521</td>
                <td>Inventario</td>
            </tr>
            <tr>
                <td>522</td>
                <td>Mano de obra directa</td>
            </tr>
            <tr>
                <td>53</td>
                <td>Costos indirectos</td>
            </tr>
            <tr>
                <td>531</td>
                <td>Salarios supervision</td>
            </tr>
            <tr>
                <td>532</td>
                <td>Salarios oficina</td>
            </tr>
            <tr>
                <td>533</td>
                <td>Mano de obra indirecta</td>
            </tr>
            <tr>
                <td>534</td>
                <td>Materiales indirectos</td>
            </tr>
            <tr>
                <td>535</td>
                <td>Suministros</td>
            </tr>
            <tr>
                <td>536</td>
                <td>Herramientas</td>
            </tr>
            <tr>
                <td>537</td>
                <td>Otros materiales</td>
            </tr>
            <tr>
                <td>538</td>
                <td>Depreciacion</td>
            </tr>
            <tr>
                <td>539</td>
                <td>Impuestos</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Gastos</td>
            </tr>
            <tr>
                <td>61</td>
                <td>Gastos de funcionamiento</td>
            </tr>
            <tr>
                <td>611</td>
                <td>Gastos en personal</td>
            </tr>
            <tr>
                <td>612</td>
                <td>Servicios publicos</td>
            </tr>
            <tr>
                <td>613</td>
                <td>Servicios privados</td>
            </tr>
            <tr>
                <td>614</td>
                <td>Servicios publicidad</td>
            </tr>
            <tr>
                <td>615</td>
                <td>Gastos de viaje y transporte</td>
            </tr>
            <tr>
                <td>616</td>
                <td>Seguros</td>
            </tr>
            <tr>
                <td>617</td>
                <td>Mantenimiento y reparaciones</td>
            </tr>
        </tbody>
    </table>
    <br>
    <!--FIN TABLA BOOTSTRAP-->
        </div>
        </div>
<!--INICIO TABLA BOOTSTRAP-->
<div class="col-sm-12 col-md-15 ">
    <br />
    <div class="card ">
    <div class="card-body-outline-dark">
    <table class="table ">
        
    <thead class="thead-dark">
    <tr>
    <th scope="col">C&oacute;digo</th>
    <th scope="col">Nombre de cuenta</th>
    <th scope="col">Debe</th>
    <th scope="col">Haber</th>
    <th scope="col">Concepto</th>
    </tr>
    </thead>
    <tbody >
        <tr>
        
        </tr>
        </tbody>
        </table>
    </div>
    </div>
    </div>
    <!--FIN TABLA BOOTSTRAP-->
    <br>
    <div class="card-body ">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <div class="form-group row">
                        <label  class="col-sm-4 col-form-label">Total:</label>
                        <div class="col-sm-8">
                          <input type="total" class="form-control" id="total" placeholder="">
                        </div>
                      </div>
                    </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <div class="form-group row">
                        <label  class="col-sm-4 col-form-label">Diferencia:</label>
                        <div class="col-sm-8">
                          <input type="diferencia" class="form-control" id="diferencia" placeholder="">
                        </div>
                      </div>
                    </div>
            </div>
    
        </div>
    </div>
        <div class="card-footer ">   
        <a href="#" type="button" class="btn btn-dark float-left">Limpiar Todo</a>        
        <a type="button" class="btn btn-lg float-left disabled" aria-disabled="true"></a>
        <a href="#" type="button" class="btn btn-dark float-right">Agregar Libro Diario</a>
        </div>
        </form>
        </div>
        </div>
        </div>
        </div>
        </div><br>
    <!-- Scripts -->
    <script src="js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>